
<div class="container mt-4">
  <h2>Blog Post Lists</h2>
  <br />
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary" (click)="openModal(0)">Add</button>
    </div>
  </div>
  <br />
  <div class="row border-opacity-100" style="border:1px solid" *ngFor="let blog of blogList">
    <div class="col">
      <div class="list-group">
        <div>
          <p class="mb-1 text-center" style="height:100px">{{blog.text}}</p>

          <div class="row">
            <div class="col-md-10" style="padding-top: 11px;">
              <h6 class="mb-1">
                Created : {{blog.userName}} &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; Created Date : {{blog.dateCreated | date:'medium'}}
              </h6>
            </div>
            <div class="col-md-1 align-content-end">
              <button class="btn btn-primary " (click)="openModal(blog.id)">Edit</button>
            </div>
            <div class="col-md-1">
              <button class="btn btn-primary" id="Delete_{{blog.id}} " (click)="confirmDelete(blog.id)">Delete</button>
            </div>
          </div>
          <br />
        </div>
      </div>

    </div>
    <br />
  </div>

</div>
<!--<div class="modal fade" id="blogModal" tabindex="-1" role="dialog" aria-labelledby="blogModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blogModalLabel">Create Post</h5>
      </div>
      <div class="modal-body">
        <app-createblogpost *ngIf="this.blogId==0" (closePopup)="closeModal()"></app-createblogpost>
        <app-editblogpost *ngIf="this.blogId>0" [blogId]="blogId" (closePopup)="closeModal()"></app-editblogpost>
      </div>
    </div>
  </div>
</div>-->
<!--<button type="button" class="btn btn-info btn-lg" (click)="openModasl()">click to open</button>-->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Manage Post</h4>       
      </div>
      <div class="modal-body">
        <app-createblogpost *ngIf="this.blogId==0" (closePopup)="closeModal()"></app-createblogpost>
        <app-editblogpost *ngIf="this.blogId>0" [blogId]="blogId" (closePopup)="closeModal()"></app-editblogpost>
      </div>
    </div>
  </div>
</div>
