<div class="container mt-4">
  <div class="row">
    <div class="col">
      <form [formGroup]="blogPostForm">
        <div class="form-group">
          <label for="userName">User Name</label>
          <input id="username" class="form-control" formControlName="userName" />
          <div *ngIf="blogPostForm.get('userName')?.invalid && blogPostForm.get('userName')?.touched" class="text-danger">
            Username is required
          </div>
        </div>
        <div class="form-group">
          <label for="userName">Text</label>
          <textarea id="username" class="form-control" formControlName="text"></textarea>
          <div *ngIf="blogPostForm.get('text')?.invalid && blogPostForm.get('text')?.touched" class="text-danger">
            Text is required
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-8"></div>
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="onSubmit()" [disabled]="blogPostForm?.invalid">Save</button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="onClose()">Close</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>
